NEXT_PUBLIC_CREATOR_ADDRESS=HFbbWT9ELLgZaannGnHwFpwyM6QTYmNioD2daRgXcovK
NEXT_PUBLIC_MINT_ADDRESS=
# Enten: Agent kører på Vercel (sæt AGENT_PRIVATE_KEY + CREATOR_WALLET)
# Eller: Agent kører lokalt på din PC (sæt AGENT_BACKEND_URL til din ngrok URL)
AGENT_PRIVATE_KEY=4W2mY5N9UaV3Y4WMQicDmLwJc9VMqke4QNnTMfgw3Jv29UzxNDZsENttwrxDh1FVP5Lecj56w12WigiF1Teb327u
CREATOR_WALLET=EKbPbopR7TXR14KpxS5opo36iVLguxn1pYHTS4xWW1ru
AGENT_BACKEND_URL=
MINT_ADDRESS=
NEXT_PUBLIC_SUPABASE_URL=https://lrxkfsiqrlvqbfjivpbg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyeGtmc2lxcmx2cWJmaml2cGJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMzg5NzEsImV4cCI6MjA4NjcxNDk3MX0.LbtQznkbYciMghomm-OCA6nappg8hrToFispI9DW3Hw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyeGtmc2lxcmx2cWJmaml2cGJnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTEzODk3MSwiZXhwIjoyMDg2NzE0OTcxfQ.LZhphvOi3k4lP9dunsFlY_XHKdRxcSe6aSYPZ3ZUYIE
